@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1&family=Raleway:wght@100;200&family=Roboto+Condensed&family=Roboto+Slab:wght@300&family=Ubuntu&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0%;
    background-color: white;
    
}
.safe-text{
    margin-left: 40%;
    z-index: 7;    

}
form{
    margin-left: 39%;
}
.safe-text1{
    font-size: 190%;
    width: 37%;
    position: relative;
    left: -85px;
    opacity: 0;
    transition: all ease 0.7s;
}
.show-safe-text{
    opacity: 1;
}
.safe-text2{
    font-size: 190%;
    width: 37%;
    position: relative;
    top: -240px;
    left: -85px;
    opacity: 0;
    transition: all ease 0.7s;
    
}
.show-safe-text{
    opacity: 1;
}


.safe-text3{
    font-size: 190%;
    width: 37%;
    position: relative;
    top: -430px;
    left: -85px;
    opacity: 0;
    transition: all ease 0.7s;
}
.show-safe-text{
    opacity: 1;
}


.safe-box h3{
    font-size: 140%;
    margin-left: 20px;
    
}
label{
    font-size: 130%;
}
.safe-img1{
    background-image: url(track-your-period-phone-vector-concept_118813-15570.jpg);
    background-repeat: no-repeat;
    background-size: 222%;
    width: 295px;
    height: 440px;
    background-position: center;
    margin-left: 2%;
   
    position: relative;
    top: -783px;
    z-index: -5;
    opacity: 0;
    transition: all ease 0.7s;
    
    
}
.show-safe-img{
    opacity: 1;
}
.safe-img2{
    background-image: url(pexels-a-b-5907690.jpg);
    background-repeat: no-repeat;
    background-size: 222%;
    width: 295px;
    height: 750px;
    background-position: center;
    margin-left: 2%;
    position: relative;
    top: -1378px;
    z-index: -5;
    opacity: 0;
    transition: all ease 0.7s;
    
}
.show-safe-img{
    opacity: 1;
}
.safe-img3{
    background-image: url(woman-with-infertility-concept-young-girl-with-pills-near-menstruation-calendar-ovulation-fertility-problems-reproductive-system-treatment-disease-cartoon-flat-vector-illustration_118813-16550.jpg);
    background-repeat: no-repeat;
    background-size: 222%;
    width: 295px;
    height: 435px;
    background-position: center;
    margin-left: 2%;
    position: relative;
    top: -1970px;
    z-index: -5;
    opacity: 0;
    transition: all ease 0.7s;
}
.show-safe-img{
    opacity: 1;
}
.safe-box{
    border: 1px solid white;
    box-shadow: 0px 3.5px 0px 0px rgba(61, 59, 59, 0.521);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left:485px;
    margin-right: 460px;
    width: 308px;
    text-align: left;
    position: relative;
    left: -485px;
    background-color: hsla(0, 96%, 45%, 0.863);
    visibility: visible;    
    
}
.hide-safe-box{
    border-collapse: collapse;
}
#mucus,#acne,#temp{
    margin-left: -100px;
}
.safe-info{
    border: 1px solid white;
    box-shadow: -3.5px -3.5px 3.5px 0px rgba(61, 59, 59, 0.521),4px 4px 4px 0px  rgba(61, 59, 59, 0.521);
    border-radius: 10px;
    margin-left:800px;
    margin-right: 800px;
    width: 310px;
    height: 600px;
    position: relative;
    left: -300px;
    top: 80px;
      
}
.home{
    position: relative;
    top: -600px;
}
.home-btn{
    width: 60px;
    height: 60px;

}
.mark{
    font-size: 150px;
    position: absolute;
    top: 355px;
    left: 605px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 5px;
    width: 120px;
    opacity: 1;
    transition: all ease 3s;
}
.hide-mark{
    opacity: 0;
}
.show-mark{
    opacity: 1;
}



@media screen and (min-width: 322px) and (max-width: 328px){
   
    .safe-info{   
        position: relative;
        left: -788px;
        width: 280px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 105px;
        top: 320px;
    }

.safe-box{
    width: 278px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 270px;
    padding-left: -20px;
}
.safe-img2{
    background-size: 243%;
    position: relative;
    top: -1375px;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}

}
    
@media screen and (min-width: 329px) and (max-width: 335px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -786px;
        width: 285px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 105px;
        top: 320px;
    }

.safe-box{
    width: 283px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 270px;
    padding-left: 4px;
}
.safe-img2{
    background-size: 238%;
    position: relative;
    top: -1375px;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}

}
   
@media screen and (min-width: 336px) and (max-width: 342px){
     
    .safe-info{   
        position: relative;
        top: 90px;
        left: -784px;
        width: 290px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 105px;
        top: 320px;
    }

.safe-box{
    width: 288px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 275px;
    padding-left: 4px;

}
.safe-img2{
    background-size: 236%;
    position: relative;
    top: -1375px;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}
 
@media screen and (min-width: 343px) and (max-width: 349px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -782px;
        width: 290px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 110px;
        top: 320px;
    }

.safe-box{
    width: 288px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 275px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 236%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}
@media screen and (min-width: 350px) and (max-width: 354px){
     
    .safe-info{   
        position: relative;
        top: 90px;
        left: -779px;
        width: 290px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 112px;
        top: 320px;
    }

.safe-box{
    width: 288px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 275px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 236%;
}

.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 355px) and (max-width: 359px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -777px;
        width: 292px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 114px;
        top: 320px;
    }

.safe-box{
    width: 290px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 277px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 236%;
}

.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 360px) and (max-width: 364px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -775px;
        width: 294px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 116px;
        top: 320px;
    }

.safe-box{
    width: 292px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 279px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 232%;
}

.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 365px) and (max-width: 369px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -773px;
        width: 296px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 118px;
        top: 320px;
    }

.safe-box{
    width: 294px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 281px;
    padding-left: 3px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 232%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 370px) and (max-width: 374px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -772px;
        width: 298px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 120px;
        top: 320px;
    }

.safe-box{
    width: 296px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 281px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 230%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 375px) and (max-width: 379px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -772px;
        width: 300px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 122px;
        top: 320px;
    }

.safe-box{
    width: 298px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 283px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 230%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 380px) and (max-width: 384px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -770px;
        width: 302px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 124px;
        top: 320px;
    }

.safe-box{
    width: 300px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 285px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 228%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 385px) and (max-width: 389px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -768px;
        width: 304px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 126px;
        top: 320px;
    }

.safe-box{
    width: 302px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 287px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 226%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 390px) and (max-width: 394px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -766px;
        width: 306px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 130px;
        top: 320px;
    }

.safe-box{
    width: 304px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 289px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 224%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 395px) and (max-width: 399px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -764px;
        width: 308px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 134px;
        top: 320px;
    }

.safe-box{
    width: 306px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 291px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 222%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 400px) and (max-width: 404px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -763px;
        width: 310px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 132px;
        top: 320px;
    }

.safe-box{
    width: 308px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 293px;
    padding-left: 4px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 220%;
}
.safe-img3{
    height: 438px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 405px) and (max-width: 409px){
    
    .safe-info{   
        position: relative;
        top: 90px;
        left: -762px;
        width: 312px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 134px;
        top: 320px;
    }

.safe-box{
    width: 310px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 295px;
    padding-left: 4px;
    
}
.safe-img1{
    position: relative;
    top: -783px;
}
.safe-img2{
    position: relative;
    top: -1375px;
    background-size: 218%;
}
.safe-img3{
    height: 440px;
    position: relative;
    top: -1973px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
}

@media screen and (min-width: 410px) and (max-width: 414px){
   .safe-info{   
        position: relative;
        top: 90px;
        left: -761px;
        width: 314px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 140px;
        top: 320px;
    }

.safe-box{
    width: 312px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 297px;
    padding-left: 4px;
    
}
.safe-img1{
    position: relative;
    top: -743px;
}
.safe-img2{
    position: relative;
    top: -1338px;
    background-size: 218%;
}
.safe-img3{
    height: 440px;
    position: relative;
    top: -1932px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 415px) and (max-width: 419px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -761px;
        width: 314px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 140px;
        top: 320px;
    }

.safe-box{
    width: 312px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 297px;
    padding-left: 4px;
    
}
.safe-img1{
    position: relative;
    top: -743px;
}
.safe-img2{
    position: relative;
    top: -1338px;
    background-size: 218%;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1932px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 420px) and (max-width: 422px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -761px;
        width: 314px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 142px;
        top: 320px;
    }

.safe-box{
    width: 312px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 297px;
    padding-left: 4px;
    
}
.safe-img1{
    position: relative;
    top: -743px;
}
.safe-img2{
    position: relative;
    top: -1338px;
    background-size: 218%;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1932px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 423px) and (max-width: 426px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -757px;
        width: 316px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 142px;
        top: 320px;
    }

.safe-box{
    width: 314px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 4px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1302px;
    background-size: 218%;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1896px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 427px) and (max-width: 430px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -754px;
        width: 318px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 150px;
        top: 320px;
    }

.safe-box{
    width: 316px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 7.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 215%;
    height: 720px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 431px) and (max-width: 434px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -752px;
        width: 320px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 150px;
        top: 320px;
    }

.safe-box{
    width: 318px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 7.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 215%;
    height: 720px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 435px) and (max-width: 438px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -750px;
        width: 322px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 153px;
        top: 320px;
    }

.safe-box{
    width: 320px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 9.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 213%;
    height: 720px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 439px) and (max-width: 442px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -748px;
        width: 324px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 155px;
        top: 320px;
    }

.safe-box{
    width: 322px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 12.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 211%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 443px) and (max-width: 446px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -746px;
        width: 326px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 159px;
        top: 320px;
    }

.safe-box{
    width: 324px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 13.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 210%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 447px) and (max-width: 450px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -744px;
        width: 328px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 163px;
        top: 320px;
    }

.safe-box{
    width: 326px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 15.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 209%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 447px) and (max-width: 450px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -744px;
        width: 328px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 163px;
        top: 320px;
    }

.safe-box{
    width: 326px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 15.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 209%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 451px) and (max-width: 455px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -744px;
        width: 330px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 167px;
        top: 320px;
    }

.safe-box{
    width: 328px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 15.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 209%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 456px) and (max-width: 460px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -744px;
        width: 330px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 167px;
        top: 320px;
    }

.safe-box{
    width: 328px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 16.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 209%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 461px) and (max-width: 465px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -740px;
        width: 330px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 167px;
        top: 320px;
    }

.safe-box{
    width: 328px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 16.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 209%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 466px) and (max-width: 470px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -738px;
        width: 332px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 171px;
        top: 320px;
    }

.safe-box{
    width: 330px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 18.5px;
    
}
.safe-img1{
    position: relative;
    top: -707px;
}
.safe-img2{
    position: relative;
    top: -1285px;
    background-size: 209%;
    height: 718px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1867px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 471px) and (max-width: 475px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -738px;
        width: 332px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 175px;
        top: 320px;
    }

.safe-box{
    width: 330px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 18.5px;
    
}
.safe-img1{
    position: relative;
    top: -705px;
}
.safe-img2{
    position: relative;
    top: -1281px;
    background-size: 207%;
    height: 712px;
}

.safe-img3{
    height: 440px;
    position: relative;
    top: -1858px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 476px) and (max-width: 480px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -738px;
        width: 334px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 175px;
        top: 320px;
    }

.safe-box{
    width: 332px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 20.5px;
    
}
.safe-img1{
    position: relative;
    top: -705px;
    height: 438px;
    background-size: 210%;
}
.safe-img2{
    position: relative;
    top: -1281px;
    background-size: 204%;
    height: 712px;
}

.safe-img3{
    height: 439px;
    position: relative;
    top: -1855px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}

@media screen and (min-width: 481px) and (max-width: 485px){
    .safe-info{   
        position: relative;
        top: 90px;
        left: -735px;
        width: 334px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 175px;
        top: 320px;
    }

.safe-box{
    width: 332px;
}
label{
    font-size: 100%;
}
.safe-box h3{
    font-size: 110%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 299px;
    padding-left: 20.5px;
    
}
.safe-img1{
    position: relative;
    top: -705px;
    height: 438px;
    background-size: 210%;
}
.safe-img2{
    position: relative;
    top: -1281px;
    background-size: 204%;
    height: 712px;
}

.safe-img3{
    height: 439px;
    position: relative;
    top: -1855px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
    
}


@media screen and (width: 820px){
    .safe-info{
        position: relative;
        top: 130px;
        left: -570px;
        width: 344px;
        height: 625px;
    }
    .mark{
        position: absolute;
        left: 350px;
        top: 405px;
    }
    .safe-box{
        width: 342px;
    }
    .safe-img1,.safe-img2,.safe-img3{
        width: 327px;
        padding-left: 3px;
        
    }
    .safe-img1{
       height:463px ;
       position: relative;
       top: -704px;
    }
    .safe-img2{
        height:463px ;
        position: relative;
        top: -1167px;
        
    }
    .safe-img3{
        height: 465px; 
        position: relative;
        top: -1631px;

    }
   
    
    
    

}

@media screen and (width: 768px){
    .safe-info{
        position: relative;
        top: 130px;
        left: -590px;
        width: 344px;
        height: 625px;
    }
    .mark{
        position: absolute;
        left: 330px;
        top: 405px;
    }
    .safe-box{
        width: 342px;
    }
    .safe-img1,.safe-img2,.safe-img3{
        width: 327px;
        padding-left: 3px;
        
    }
    .safe-img1{
       height:463px ;
       position: relative;
       top: -704px;
    }
    .safe-img2{
        height:463px ;
        position: relative;
        top: -1167px;
        
    }
    .safe-img3{
        height: 465px; 
        position: relative;
        top: -1631px;

    }    

}

@media screen and (width: 912px){
    .safe-info{
        position: relative;
        top: 130px;
        left: -520px;
        width: 344px;
        height: 625px;
    }
    .mark{
        position: absolute;
        left: 397px;
        top: 405px;
    }
    .safe-box{
        width: 342px;
    }
    .safe-img1,.safe-img2,.safe-img3{
        width: 327px;
        padding-left: 3px;
        
    }
    .safe-img1{
       height:463px ;
       position: relative;
       top: -704px;
    }
    .safe-img2{
        height:463px ;
        position: relative;
        top: -1167px;
        
    }
    .safe-img3{
        height: 465px; 
        position: relative;
        top: -1631px;

    }
      

}

@media screen and (width: 540px){
    .safe-info{
        position: relative;
        top: 130px;
        left: -715px;
        width: 344px;
        height: 625px;
    }
    .mark{
        position: absolute;
        left: 208px;
        top: 405px;
    }
    .safe-box{
        width: 342px;
    }
    .safe-img1,.safe-img2,.safe-img3{
        width: 327px;
        padding-left: 3px;
        
    }
    .safe-img1{
       height:463px ;
       position: relative;
       top: -704px;
    }
    .safe-img2{
        height:463px ;
        position: relative;
        top: -1167px;
        
    }
    .safe-img3{
        height: 465px; 
        position: relative;
        top: -1631px;

    }
      

}

@media screen and (width: 280px){
    
    .safe-info{   
        position: relative;
        left: -792px;
        width: 245px;
        height: 570px;
    }
    .mark{
        position: absolute;
        left: 80px;
        top: 320px;
    } 

.safe-box{
    width: 243px;
}
label{
    font-size: 90%;
}
.safe-box h3{
    font-size: 100%;
}
.safe-img1,.safe-img2,.safe-img3{
    width: 235px;
    padding-left: -20px;
}
.safe-img1{
    position: relative;
    top: -780px;
    height: 480px;
    
}
.safe-img2{
    height: 700px;
    background-size: 283%;
    position: relative;
    top: -1387px;
    
}
.safe-img3{
    height: 479px;
    position: relative;
    top: -1960px;
}
.home-btn{
    width: 30px;
    height: 30px;
}
.home{
    position: relative;
    top: -550px;
}
form{
    padding-left: 12px;
}

}

@media screen and (width: 1024px){
    .safe-info{
        position: relative;
        left: -450px;
        top: 270px;
    }
    .mark{
        position: absolute;
        left: 454px;
        top: 515px;
    }
    .home{
        position: relative;
        top: -550px;
    }
    
}



